<!DOCTYPE html>
<html>
<head>
  <title>scssrs | web-scale tie-breaking software to aid decision making in teams</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= render '/layouts/shared/shiv' %>
</head>
<body>

  <%= yield %>

</body>
</html>
